<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="witLogo"><img src="images/witcrest.png" alt="witlogo"/></div>
  <br>

<div id="container">
  <div class="introText">
  <h1 class="title"><%= title %></h1>
  <p>This is WIT lost and found<br> If you have found any lost items please post here</p><br>
  </div>

</div>
</body>
</html>
