body {
  padding: 50px;
  font: 14px "Sans-serif", Helvetica, Arial;
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

h1 {
  color: #2A4C9E;
}

.introText {
  text-align: center;
}

.witLogo {
  text-align: center;
}


#container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}



